In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#import world_bank_data as wb
#instalar world_bank_data


 #math 
 #scipy.stats

In [5]:
#help(pandas.unique)

In [9]:
importfile = './climate_change.csv'

In [10]:
df = pd.read_csv(importfile)

In [11]:
df

,Year,POP,URB,GDP,ENGY,FFEC%,NFFEC%,FFEC,NFFEC,CO2E,CO2C,TMPI,TMPA
0,1960,30.945383,9.331689,0.634565,7.503619,0.940000,0.060000,7.053402,0.450217,9.39,316.91,0.03,-0.115487
1,1961,31.353506,9.609697,0.661576,7.815869,0.941000,0.059000,7.354733,0.461136,9.42,317.64,0.01,-0.019997
2,1962,31.910116,9.922943,0.703998,8.233697,0.942000,0.058000,7.756143,0.477554,9.75,318.45,-0.01,-0.064054
3,1963,32.601631,10.268884,0.747172,8.568914,0.944000,0.056000,8.089055,0.479859,10.27,318.99,-0.03,-0.036806
4,1964,33.298713,10.624365,0.810594,8.987576,0.940000,0.060000,8.448321,0.539255,10.83,319.62,-0.04,-0.305867
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2017,80.941863,42.561442,42.086316,48.478568,0.821574,0.178773,40.628182,7.898481,35.93,406.76,0.91,0.845174
58,2018,81.934807,43.469888,44.545616,48.882321,0.823543,0.176870,41.203680,7.734568,36.65,408.72,0.92,0.762654
59,2019,82.907216,44.371691,43.922025,49.296425,0.825514,0.174970,41.805590,7.555201,36.70,411.66,0.93,0.891073
60,2020,83.865775,45.271305,38.056959,49.722061,0.827480,0.173081,42.435352,7.360140,34.81,414.24,0.93,0.922794
61,2021,84.767584,46.133838,34.618792,50.160409,0.829432,0.171212,43.094403,7.149144,36.40,416.45,0.94,0.761856

In [12]:
df = df.dropna()

In [13]:
len(df)

62

In [16]:
df.query("Year" == "1964")

ValueError: expr must be a string to be evaluated, <class 'bool'> given

In [ ]:
# trasnformar una fecha
pd.to_datetime(df['FECHA'])

df['YEAR']df['FECHA'].dt.year # para crear nuevas columnas con la fecha desglosada, con esto podemos agrupar